<div class="footer px-4 py-8 md:px-6 lg:px-8 text-0">
    <div class="grid">
        <div class="col-12 md:col-3">
            <div class="text-xl font-bold mb-4">ЦИФРОВИК</div>
            <div class="flex flex-column">
                <span class="mb-2">
                    <i class="pi pi-phone mr-2"></i>
                    +375 44 7386039
                </span>
                <span class="mb-2">
                    <i class="pi pi-phone mr-2"></i>
                    +375 29 4396529
                </span>
                <span>
                    <i class="pi pi-envelope mr-2"></i>
                    info@cifrovik.by
                </span>
            </div>
        </div>
        
        <div class="col-12 md:col-3">
            <div class="text-xl font-bold mb-4">Покупателям</div>
            <ul class="list-none p-0">
                <li class="mb-2"><a class="text-0 hover:text-primary cursor-pointer">Доставка и оплата</a></li>
                <li class="mb-2"><a class="text-0 hover:text-primary cursor-pointer">Гарантия</a></li>
                <li class="mb-2"><a class="text-0 hover:text-primary cursor-pointer">Возврат товара</a></li>
                <li><a class="text-0 hover:text-primary cursor-pointer">Контакты</a></li>
            </ul>
        </div>
        
        <div class="col-12 md:col-3">
            <div class="text-xl font-bold mb-4">Компания</div>
            <ul class="list-none p-0">
                <li class="mb-2"><a class="text-0 hover:text-primary cursor-pointer">О нас</a></li>
                <li class="mb-2"><a class="text-0 hover:text-primary cursor-pointer">Новости</a></li>
                <li class="mb-2"><a class="text-0 hover:text-primary cursor-pointer">Вакансии</a></li>
                <li><a class="text-0 hover:text-primary cursor-pointer">Партнерам</a></li>
            </ul>
        </div>
        
        <div class="col-12 md:col-3">
            <div class="text-xl font-bold mb-4">Мы в соцсетях</div>
            <div class="flex gap-3">
                <a class="text-0 hover:text-primary cursor-pointer">
                    <i class="pi pi-facebook text-2xl"></i>
                </a>
                <a class="text-0 hover:text-primary cursor-pointer">
                    <i class="pi pi-instagram text-2xl"></i>
                </a>
                <a class="text-0 hover:text-primary cursor-pointer">
                    <i class="pi pi-telegram text-2xl"></i>
                </a>
            </div>
        </div>
    </div>
</div>